@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family:'Playfair Display', sans-serif;
}
#topcontainer{
    background-color: aqua;
    background-image: url("./image/Home.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
 }
#logo{
 height: 180px;
 align-items: center;
 padding-left: 20px;
}
a{
   text-decoration: none; 
}
.card-img-top{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.col-md-auto>a{
    color: red;
    font-weight: bold;
}
#abt{
    color:#02438E;    
}
#nav{
    background-color: #01325B;
}
#apply{
    background-color: orange;
    padding: 10px;
    border-radius: 20px;
}
#clickapply{
    cursor:pointer;
}
